.container
    .jumbotron
        h1 Mahens page
        p welcome to mahens play ground
    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-course'")
